.footer {
  background-color: #2d2e2e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding: 5px 10px 0px 10px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  width: 100%;
  bottom: 0;
}

@keyframes footer-hover {
  0% {
    font-size: 11px;
  }
  25% {
    font-size: 12px;
  }
  50% {
    font-size: 13px;
  }
  75% {
    font-size: 14px;
  }
  100% {
    font-size: 15px;
  }
}
