<nav class="navbar navbar-expand-lg navbar-light esr-navbar">

  <div class="esr-navbar-crate-80">

    <div class="esr-navbar-box">
      <img src="../../../assets/img/esr_logo.png">
    </div>

    <div class="esr-navbar-box esr-navbar-box-alt">
      <h1 class="esr-headline esr-headline-sub esr-headline-sub-alt">Home</h1>
      <span class="esr-navbar-active-span"></span>
    </div>

  </div>

  <div class="esr-navbar-crate-20">
    <p><i class="fas fa-user-circle"></i>{{ user.displayName }}</p>
  </div>

</nav>
