.esr-comment {
  background-color: #5a5c5c;
  height: auto;
  width: 75%;
  margin: 20px auto;
}

.esr-comment-header-box {
  width: 100%;
/*   background-color: #2d2e2e; */
  border-bottom: 1px #b4b8b8 solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.esr-comment-header {
  color: #fff;
  margin: 0;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.esr-comment-user-icon {
  color: #ffb617;
  margin: auto 10px;
  position: relative;
  top: -2px;
}

.esr-comment-body {
  padding: 10px;
}

.esr-comment-date {
  color: #ffb617;
  font-size: 14px;
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
}

.esr-comment-content {
  color: #fff;
  font-size: 12px;
}

.esr-comment-content-icon {
  margin: 0 10px;
  color: #b4b8b8;
}

.esr-comment-date-icon {
  color: #fff;
  margin: 0 10px 0 0;
}

.esr-comment-alert-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5a5c5c;
/*   padding: 10px; */
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 20px auto;
}

.esr-comment-alert-headline-box {
  border-bottom: 1px #b4b8b8 solid;
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: #ffb617;
}

/* .esr-comment-alert-icon {
  height: 15px;
  width: 15px;
} */

.esr-comment-alert-body {
  display: flex;
  padding: 8px 8px 0 8px;
  color: #b4b8b8;
  font-size: 12px;
  flex-direction: column;
}

.esr-comment-alert {
  margin-bottom: 4px;
}

.esr-flex-row-box {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.esr-flex-row-box > i {
  margin: 5px;
}
