<div class="container mt-5">
  <h2>Comments</h2>
  <div class="container Comment p-3 mb-4" *ngFor="let comment of CommentsFromRequest">
    <div class="container-fluid d-flex align-items-baseline">
      <i class="fas fa-user-circle"></i>
      <h6 class="comment-author">{{ comment.author }}</h6>
    </div>
    <div class="ml-4 container-fluid d-flex align-items-baseline">
      <i class="far fa-clock"></i>
      <p class="comment-date">{{ comment.createdDate | date }}</p>
    </div>
      <p class="comment-content">{{ comment.content }}</p>
  </div>

  <div *ngIf="commentCount == 0" class="container-fluid d-flex justify-content-center align-items-center mb-3 flex-column">
    <i class="fas fa-exclamation-circle fa-2x"></i>
    <h3>There aren't any comments, yet.</h3>
  </div>
</div>
