/* You can add global styles to this file, and also import other style files */
/* @import '../node_modules/bootstrap/dist/css/bootstrap.min.css'; */
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  min-height: 100vh;
  padding: 5px;
  margin: 0;
}

html, body { height: 100%; }
