/* You can add global styles to this file, and also import other style files */
/* @import '../node_modules/bootstrap/dist/css/bootstrap.min.css'; */
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100');
@import url('https://fonts.googleapis.com/css?family=Prompt:500&display=swap');

body {
  position: relative;
  min-height: 100%;
  line-height: 1.6;
  background-color: rgba(162, 163, 163, 0.3);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.btn {
  box-shadow: 2px 2px 3px 0px grey;
}

.footer {
  box-sizing: border-box;
  background-color: #2d2e2e;
  color: #fff;
  display: flex;
  line-height: 2.5;
  justify-content: space-between;
  font-size: 10px;
  padding: 5px 10px 0px 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0;
}

.esr-invalid-alert {
  font-size: 12px;
  /* text-transform: uppercase; */
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  color: #ff674f;
  text-shadow: 1px 1px 1px #2d2e2e;
  width: auto;
  display: none;
}

.esr-valid-alert {
  color: #17c9ff;
}

.esr-invalid-alert > p {
  display: inline-block;
  margin-left: 4px;
}

.esr-invalid-alert > i {
  animation: invalid-icon-flash 500ms infinite;
  animation-fill-mode: both;
}

@keyframes invalid-icon-flash {
  0% {
    color: #ffa78e;
  }
  100% {
    color: #ff674f;
  }
}

.esr-btn-back {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  background-color: #2d2e2e;
  margin-bottom: 20px;
  color: #ffb617;
  letter-spacing: 2px;
  border: none;
  padding: 8px 16px;
  box-shadow: inset 0 0 0 3px #2d2e2e, inset 0 0 0 4px #ffb617, 2px 2px 5px 0px grey;
  animation: back-btn-fade-in 200ms linear;
  animation-fill-mode: both;
  cursor: pointer;
}

.esr-btn-back:hover {
  animation: back-btn-fade-out 200ms linear;
  animation-fill-mode: both;
  color: #2d2e2e;
  box-shadow: inset 0 0 0 3px #ffb617, inset 0 0 0 4px #2d2e2e;
}

@keyframes back-btn-fade-out {
  0% {
    background-color: #2d2e2e;
  }
  100% {
    background-color: #ffb617;
  }
}

@keyframes back-btn-fade-in {
  0% {
    background-color: #ffb617;
  }
  100% {
    background-color: #2d2e2e;
  }
}


.esr-navbar {
  box-shadow: 2px 2px 5px 0px grey;
  padding: 0;
  height: 60px;
  display: flex;
}

.esr-navbar-crate-80 {
  display: flex;
  height: 100%;
  flex-basis: 80%;
  margin: 0;
  justify-content: flex-start;
}

.esr-navbar-crate-20 {
  display: flex;
  height: 100%;
  flex-basis: 20%;
  margin: 0;
  justify-content: flex-end;
}

.esr-navbar-crate-20 i {
  color: #ffb617;
  margin-right: 20px;
}

.esr-navbar-box {
  z-index: 200;
  position: relative;
  border: none;
  border-top: 1px;
  border-bottom: 1px;
  height: 100%;
  flex-basis: 7%;
  padding: 0;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.esr-navbar-user-box {
  display: flex;
  font-family: 'Prompt', sans-serif;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
}

.esr-navbar-box-alt {
  background-color: #5a5c5c;
  box-shadow: inset 0 0 0 11px rgba(90, 92, 92, 1.0),
    inset 0 10.5px 0 5px rgba(90, 92, 92, 1.0),
    inset -10.5px 0 0 5px rgba(90, 92, 92, 1.0),
    inset 10.5px 0 0 5px rgba(90, 92, 92, 1.0);
  color: #ffb617;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-bottom: 1.5px solid rgba(255, 182, 23, 1.0);
}

.esr-navbar-box img {
  width: 120px;
}

.esr-navbar-active-span {
  height: 18px;
  width: 18px;
  transform: rotate(45deg);
  background-color: #5a5c5c;
  position: absolute;
  border-bottom: 1.5px solid rgba(255, 182, 23, 1.0);
  border-right: 1.5px solid rgba(255, 182, 23, 1.0);
  bottom: -10px;
  z-index: 201;
  box-shadow: 3px 1px 3px rgb(135, 138, 138);
  border-radius: 0 0 20% 0;
}

.esr-headline {
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  margin: 20px;
}

.esr-headline-sub {
  transform: scale(0.35);
  margin: 0;
}

.esr-headline-sub-alt {
  font-family: 'Roboto', sans-serif;
}

.esr-headline-box {
  background-color: #2d2e2e;
  color: #fff;
}

.esr-shadow {
  box-shadow: 2px 2px 5px 0px grey;
}

.esr-button, .esr-file-input::-webkit-file-upload-button {
  display: block;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  background-color: #ffb617;
  color: #2d2e2e;
  letter-spacing: 2px;
  border: none;
  padding: 8px 16px;
  box-shadow: inset 0 0 0 1px #ffb617, inset 0 0 0 2px #2d2e2e;
  animation: esr-filter-btn-fade-in 200ms linear;
  animation-fill-mode: both;
  cursor: pointer;
}

.esr-button.alt {
  animation: esr-btn-alt-fade-in 200ms linear;
  animation-fill-mode: both;
  background-color: #2d2e2e;
  color: #ffb617;
}

.esr-button.sm {
  letter-spacing: 1px;
  font-size: 14px;
  padding: 4px 8px;
}

.esr-button:hover {
  animation: esr-btn-fade-out 200ms linear;
  animation-fill-mode: both;
  color: #ffb617;
}

.esr-button.alt:hover {
  animation: esr-btn-alt-fade-out 200ms linear;
  animation-fill-mode: both;
  color: #2d2e2e;
}

.esr-button:active {
  top: 2px;
}

@keyframes esr-btn-fade-in {
  0% {
    background-color: #2d2e2e;
  }
}

@keyframes esr-btn-fade-out {
  100% {
    background-color: #2d2e2e;
  }
}

.esr-button-success {
  background-color: #3c6b2b;
}

.esr-button-danger {
  background-color: #8c3131;
}

.esr-select, .esr-text-box {
  background-color: #878a8a;
  color: #fff;
  border: none;
  font-family: 'Roboto' sans-serif;
  width: 100%;
  line-height: 2.0;
  min-height: 34px;
}

.esr-select > option {
  font-weight: 300;
}

.esr-select:focus {
  background-color: #2d2e2e;
  color: #fff;
}

.esr-label {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.esr-text-input {
  border-radius: 0;
  box-shadow: 2px 2px 5px 0px grey;
  color: #fff;
  background-color: #2d2e2e;
  font-weight: 300;
  max-width: 300px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid rgba(45, 46, 46, 0.5);
  border-width: 1px 1px 1px 1px;
  max-height: 30px;
}

.esr-text-input:focus {
  color: #fff;
  max-width: 300px;
  background-color: #2d2e2e;
  border: none;
}

.esr-text-area, .esr-text-area:focus {
  background-color: #2d2e2e;
  color: #fff;
  font-weight: 300;
  border-radius: 0;
  box-shadow: 2px 2px 5px 0px grey;
  border: none;
}

.esr-file-input {
  font-family: 'Roboto', sans-serif;
  background-color: #2d2e2e;
  color: #fff;
  font-weight: 300;
  padding: 0;
  border-radius: 0;
  box-shadow: 2px 2px 5px 0px grey;
  border: none;
}

.esr-file-input::-webkit-file-upload-button {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  background-color: #d9d9d9;
  margin: 0;
  color: #2d2e2e;
  margin-top: 0;
  height: 100%;
  font-weight: 400;
  /* border: 1px solid #2d2e2e; */
  border: none;
  cursor: pointer;
}

.esr-file-input:hover::-webkit-file-upload-button {
  opacity: 0.9;
}

.esr-component-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 20px 40px 0 40px;
}

.esr-divider {
  height: 20px;
  width: 100%;
  display: flex;
  flex-basis: auto;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 20px;
}

.esr-divider > .esr-divider-logo {
  box-sizing: border-box;
  height: 30px;
  flex-grow: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.esr-divider > .esr-divider-logo > .esr-divider-img {
  content: url('./assets/img/logo2.png');
  height: 20px;
  width: auto;
}

.esr-divider > .esr-divider-logo > .esr-divider-img:hover {
  animation: logo-expand 1s linear infinite;
}

.esr-divider .esr-divider-bar1, .esr-divider-bar2 {
  border: 1px solid #5a5c5c;
  height: 10%;
  max-width: 90%;
  color: #fff;
  margin: 0px 20px;
  box-shadow: 1px 1px 5px 0px grey;
  animation: divider-bar-grow 2s linear;
}

.esr-divider, .esr-divider-bar1 {
  flex-grow: 6;
}

.esr-divider, .esr-divider-bar2 {
  flex-grow: 0.5;
}

@keyframes logo-expand {
  0% {
    transform: rotate(360deg);
  }
}

@keyframes divider-bar-grow {
  0% {
    flex-grow: 0;
  }
  100% {
    flex-grow: 100%;
  }
}

@keyframes divider-slide {
  0% {
    align-items: flex-end;
  }
  25% {
    align-items: stretch;
  }
  50% {
    align-items: flex-start;
  }
  100% {
    align-items: baseline;

  }
}

.esr-overview-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.esr-overview-showcase {
  flex-basis: 60%;
  text-align: center;
  padding: 40px 20px 20px 20px;
}

.esr-overview-showcase-box {
  margin-bottom: 120px;
}

.esr-overview-sideshow {
  flex-basis: 40%;
  background-color: #2d2e2e;
  padding: 30px;
}

.esr-overview-greet {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 2px;
}

.esr-overview-greet-count-box {
/*   font-size: 18px; */
  color: #ffb617;
  font-family: 'Prompt', sans-serif;
  background-color: #2d2e2e;
  line-height: 2.0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 3px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px 0px grey;
}

.esr-overview-greet-count {
  font-size: 20px;
  margin-left: -1px;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
}


.esr-overview-links-box {
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.esr-overview-link {
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  height: 100%;
}

.esr-overview-link:hover {
  text-decoration: none;
}

.esr-overview-link.highlight-link {
  padding: 8px;
  color: #ffb617;
  box-shadow: inset 0 0 0 2px #2d2e2e, inset 0 0 0 3px #ffb617;
  text-shadow: 1px 1px 0 rgba(22, 23, 23, 1.0);
  animation: link-fade-in 200ms linear;
  animation-fill-mode: both;
}

.esr-overview-link.highlight-link:hover {
  background-color: #ffb617;
  color: #2d2e2e;
  box-shadow: inset 0 0 0 2px #ffb617, inset 0 0 0 3px #2d2e2e;
  text-shadow: 1px 1px 0 rgba(255, 151, 23, 1.0);
  animation: link-fade-out 200ms linear;
  animation-fill-mode: both;
}

.esr-overview-link.highlight-link:active {
  animation: link-active 50ms ease-in-out;
  animation-fill-mode: both;
  margin-top: 10px;
  margin-bottom: 7px;
  border: 3px solid;
  border-right: none;
  border-bottom: none;
  border-color: #5a5c5c;
  }

@keyframes link-fade-in {
  0% {
    background-color: #ffb617;
  }
  100% {
    background-color: #2d2e2e;
  }
}

@keyframes link-fade-out {
  0% {
    background-color: #2d2e2e;
  }
  100% {
    background-color: #ffb617;
  }
}

@keyframes link-active {
  0% {
    margin: 10px;
    border-width: 0px;
  }
  100% {
    margin-top: 10px;
    margin-bottom: 7px;
    border-width: 3px;
  }
}

.esr-headline-box.tabs {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.esr-headline-sub-box {
  flex-basis: 15%;
  text-align: center;
  border: solid #5a5c5c;
  color: #878a8a;
  border-width: 1.5px 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  cursor: pointer;
  min-width: 200px;
}

.esr-headline-sub-box:hover {
  color: #ffb617;
  border-color: #ffb617;
  filter: grayscale(0%);
  animation: tab-fade-in 1s linear;
}

.esr-headline-box-active:hover {
  filter: grayscale(100%);
  animation: tab-fade-out 1s linear;
}

.esr-headline-box-active {
  /* flex-basis: 15%; */
  background-color: #5a5c5c;
  color: #ffb617;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-bottom: 1.5px solid #ffb617;
  border-top: 1.5px solid #ffb617;
}

.esr-headline-span {
  height: 12px;
  width: 12px;
  transform: rotate(45deg);
  position: absolute;
  background-color: #2d2e2e;
  border-bottom: 1.5px solid #5a5c5c;
  border-right: 1.5px solid #5a5c5c;
  bottom: -6px;
  left: 10px;
  margin-left: 10px;
  z-index: 201;
  box-shadow: none;
  border-radius: 0 0 20% 0;
  /* animation: tab-fade-in 1s linear; */
}

.esr-headline-box-active > span {
  border-bottom: 1.5px solid rgba(255, 182, 23, 1.0);
  border-right: 1.5px solid rgba(255, 182, 23, 1.0);
  background-color: #5a5c5c;
}

.esr-list-filter-btn {
  align-self: flex-end;
  margin: 5px 40px;
  font-weight: 500;
  transform: scale(0.85);
  box-shadow: 0 0 0 1px #ffb617;
  font-family: 'Prompt', sans-serif;
  color: #ffb617;
  line-height: 1.75;
}

.esr-tabs-box {
  display: flex;
}

.esr-table-buttons-box {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}



@keyframes tab-fade-in {
  0% {
    filter: grayscale(100%);
  }
  100% {
    filter: grayscale(0%);
  }
}

@keyframes tab-fade-out {
  0% {
    filter: grayscale(0%);
  }
  100% {
    filter: grayscale(100%);
  }
}


.esr-list-table-crate {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.esr-list-table-box {
  height: 60px;
  width: 100%;
  border: none;
  border-top: 1px #b4b8b8 solid;
  background-color: #2d2e2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  cursor: pointer;
  animation: data-contract 200ms linear;
  animation-fill-mode: both;
}

.esr-list-table-box:nth-child(odd) {
  opacity: 0.9;
}

.esr-list-table-box:hover {
  animation: data-expand 200ms linear;
  animation-fill-mode: both;
}

.esr-list-table-box:hover .esr-list-attr,
.esr-list-table-box:hover .esr-list-data-title {
  color: #fff;
}

@keyframes data-expand {
  0% {
    transform: scale(1.0)
  }
  100% {
    transform: scale(1.03);
  }
}

@keyframes data-contract {
  0% {
    transform: scale(1.03)
  }
  100% {
    transform: scale(1.0);
  }
}

.esr-list-table-box-sub {
  display: flex;
  padding: 0;
  height: 100%;
  align-items: center;
  flex-basis: 50%;
}

.esr-list-data-id {
  color: #ffb617;
  margin: 0 15px 0 15px;
  font-family: 'Prompt', sans-serif;
  min-width: 66px;
  font-size: 18px;
}

.esr-list-data-title {
  color: #b4b8b8;
  margin: 0 15px 0 15px;
  font-family: 'Roboto', sans-serif;
}

.esr-list-attr-box {
  display: flex;
  flex-basis: 30%;
  text-align: center;
  padding-right: 15px;
}

.esr-list-attr {
  flex-basis: 33%;
  color: #b4b8b8;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  margin: 0 15px 0 0;
  margin: auto 8px;
  line-height: 1.2;
}
.esr-list-attr {
  flex-basis: none;
}

.esr-list-attr.esr-list-data-author {
 flex-basis: 40%;
}

.esr-list-attr.esr-list-data-status, .esr-list-attr.esr-list-data-due {
 flex-basis: 30%;
}

.esr-list-data-divider {
  min-height: 80%;
  min-width: 2px;
  background-color: #ffb617;
  margin: 0;
}

.esr-list-table-sidepane {
  background-color: #2e2e2e;
  height: 100%;
  width: 100%;
  border: 1px solid grey;
}

.esr-list-alert {
  height: 60%;
  width: 100px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.esr-list-alert > p {
  margin: 0;
}

.esr-list-alert-red {
  color: #ff674f;
  box-shadow: inset 0 0 0 1px #ff674f;
}

.esr-list-alert-red > p::before {
  content: "Overdue";
}

.esr-list-alert-yellow {
  box-shadow: inset 0 0 0 1px #b4b8b8;
  color: #b4b8b8;
}

.esr-list-alert-yellow > p::before {
  content: "Due Soon";
}

.esr-list-table-header-box {
  background-color: #2d2e2e;
  /* border-right: 1px #b4b8b8 solid; */
  height: 60px;
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
  margin-right: 20px;
}

.esr-list-table-header-box > div {
  height: 100%;
  width: 100%;
}

.esr-header-box1 {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  color: #fff;
}

.esr-list-header.header-id {
  width: 61px;
  margin: 0 0px 0 35px;
}

.esr-list-header.header-title {
  margin-left: 30px;
}

.esr-header-box2 {
  flex-basis: 30%;
  display: flex;
  text-align: center;
  margin-top: 4px;
}

.esr-list-header {
  color: #ffb617;
  font-size: 10px;
  letter-spacing: 1px;
  font-family: 'Prompt', sans-serif;
  margin: auto 0;
  line-height: 1.2;
  cursor: pointer;
  opacity: 0.8;
  animation: header-contract 200ms linear;
  animation-fill-mode: both;
  /* margin-right: 15px; */
}

.esr-list-header.header-requestedby {
  flex-basis: 40%;
  margin-right: 2px;
}
.esr-list-header.header-status, .esr-list-header.header-duedate {
  flex-basis: 30%;
  /* left: -15px; */
  /* margin: auto 2px; */
}

.esr-list-table-box:hover .esr-list-alert-red {
  animation: flash-alert-red 1s infinite;
  animation-fill-mode: both;
}

.esr-list-table-box:hover .esr-list-alert-yellow {
  animation: flash-alert-yellow 1s infinite;
  animation-fill-mode: both;
}

.esr-list-header:hover {
  opacity: 1.0;
  color: #fff;
  animation: header-expand 200ms linear;
}

@keyframes header-contract {
  0% {
    transform: scale(1.03);
    color: #fff;
  } 100% {
    transform: scale(1.0);
    color: #ffb617;
  }
}

@keyframes header-expand {
  0% {
    transform: scale(1.0);
    color: #ffb617;
  } 100% {
    transform: scale(1.03);
    color: #fff;
  }
}


@keyframes flash-alert-yellow {
  0% {
    color: #2d2e2e;
    background-color: #b4b8b8;
    box-shadow: inset 0 0 0 2px #b4b8b8, inset 0 0 0 3px #2d2e2e;
  }
}

@keyframes flash-alert-red {
  0% {
    color: #2d2e2e;
    background-color: #ff674f;
    box-shadow: inset 0 0 0 2px #ff674f, inset 0 0 0 3px #2d2e2e;
  }
}

@keyframes tab-fade-in {
  0% {
    filter: grayscale(100%);
  }
  100% {
    filter: grayscale(0%);
  }
}

@keyframes tab-fade-out {
  0% {
    filter: grayscale(0%);
  }
  100% {
    filter: grayscale(100%);
  }
}

@keyframes button-in {
  0% {
    letter-spacing: 4px;
  }
  100% {
    letter-spacing: 2px;
  }
}

@keyframes button-out {
  0% {
    letter-spacing: 2px;
  }
  100% {
    letter-spacing: 4px;
  }
}
