@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100');
@import url('https://fonts.googleapis.com/css?family=Prompt:500&display=swap');
@import '../node_modules/alertifyjs/build/css/alertify.min.css';

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  background-color: rgba(180, 184, 184, 0.3);
  font-family: 'Roboto', sans-serif;
}

.footer {
  box-sizing: border-box;
  background-color: #2d2e2e;
  color: #fff;
  display: flex;
  line-height: 2.5;
  justify-content: space-between;
  font-size: 10px;
  padding: 5px 10px 0px 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0;
}

/* ---------------------BASE REQUEST COMPONENT STYLE--------------------- */
.esr-request-component {
  background-color: #2d2e2e;
  box-shadow: 2px 2px 5px 0px grey;
  width: 100%;
  margin: 24px auto;
  padding: 0;
}



/* ---------------------BUTTONS--------------------- */

.esr-btn {
  position: relative;
  background-color: #ffb617;
  color: #2d2e2e;
  border: none;
  padding: 8px 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: inset 0 0 0 3px #ffb617, inset 0 0 0 4px #2d2e2e;
  animation: btn-fade-in 200ms linear;
  animation-fill-mode: both;
  cursor: pointer;
}

.esr-btn.sm {
  letter-spacing: 1px;
  font-size: 12px;
  padding: 6px 12px;
}

.esr-btn.secondary {
  background-color: #17c9ff;
  color: #2d2e2e;
  box-shadow: inset 0 0 0 3px #17c9ff, inset 0 0 0 4px #2d2e2e;
  animation: btn-fade-in 200ms linear;
  animation-fill-mode: both;
}

.esr-btn.alt {
  background-color: #2d2e2e;
  color: #ffb617;
  box-shadow: inset 0 0 0 3px #2d2e2e, inset 0 0 0 4px #ffb617;
  animation: btn-alt-fade-out 200ms linear;
  animation-fill-mode: both;
}

.esr-btn.secondary.alt {
  color: #17c9ff;
  box-shadow: inset 0 0 0 3px #2d2e2e, inset 0 0 0 4px #17c9ff;
  animation: btn-secondary-alt-fade-out 200ms linear;
  animation-fill-mode: both;
}

.esr-btn:hover {
  animation: btn-fade-out 200ms linear;
  animation-fill-mode: both;
  color: #ffb617;
  box-shadow: inset 0 0 0 3px #2d2e2e, inset 0 0 0 4px #ffb617;
}

.esr-btn.secondary:hover {
  color: #17c9ff;
  box-shadow: inset 0 0 0 3px #2d2e2e, inset 0 0 0 4px #17c9ff;
  animation: btn-fade-out 200ms linear;
  animation-fill-mode: both;
}

.esr-btn.alt:hover {
  animation: btn-alt-fade-in 200ms linear;
  animation-fill-mode: both;
  color: #2d2e2e;
  box-shadow: inset 0 0 0 3px #ffb617, inset 0 0 0 4px #2d2e2e;
}

.esr-btn.secondary.alt:hover {
  color: #2d2e2e;
  box-shadow: inset 0 0 0 3px #17c9ff, inset 0 0 0 4px #2d2e2e;
  animation: btn-secondary-alt-fade-in 200ms linear;
  animation-fill-mode: both;
}

.esr-btn:active {
  transform: scale(0.95);
}

/* BUTTON ANIMATIONS */

@keyframes btn-fade-out {
  100% {
    background-color: #2d2e2e;
  }
}

@keyframes btn-fade-in {
  0% {
    background-color: #2d2e2e;
  }
}

@keyframes btn-alt-fade-out {
  0% {
    background-color: #ffb617;
  }
}

@keyframes btn-alt-fade-in {
  100% {
    background-color: #ffb617;
  }
}

@keyframes btn-secondary-alt-fade-out {
  0% {
    background-color: #17c9ff;
  }
}

@keyframes btn-secondary-alt-fade-in {
  100% {
    background-color: #17c9ff;
  }
}

/*                    ^ BUTTONS ^                */
/* --------------------------------------------- */




/* ---------------------TEXT--------------------- */
.esr-invalid-alert {
  font-size: 12px;
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  color: #ff674f;
  text-shadow: 1px 1px 1px #2d2e2e;
  width: auto;
  display: none;
}

.esr-valid-alert {
  color: #17c9ff;
}

.esr-invalid-alert > p {
  display: inline-block;
  margin-left: 4px;
}

.esr-invalid-alert > i {
  animation: invalid-icon-flash 500ms infinite;
  animation-fill-mode: both;
}

/* ANIMATIONS */
@keyframes invalid-icon-flash {
  0% {
    color: #ffa78e;
  }
  100% {
    color: #ff674f;
  }
}
/*                    ^ TEXT ^                */
/* --------------------------------------------- */


/* ---------------------COMPONENT PARTS--------------------- */
.esr-headline-box {
  background-color: #2d2e2e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.esr-headline {
  margin: 20px;
}

.esr-list-data-divider {
  min-height: 80%;
  min-width: 2px;
  background-color: #ffb617;
  margin: 0;
}


/* .esr-headline-box.active:hover {
  filter: grayscale(100%);
  animation: tab-fade-out 1s linear;
}

.esr-headline-box.active {
  background-color: #5a5c5c;
  color: #ffb617;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-bottom: 1.5px solid #ffb617;
  border-top: 1.5px solid #ffb617;
}

.esr-headline-box.active > span {
  border-bottom: 1.5px solid rgba(255, 182, 23, 1.0);
  border-right: 1.5px solid rgba(255, 182, 23, 1.0);
  background-color: #5a5c5c;
}

.esr-headline-sub {
  transform: scale(0.35);
  margin: 0;
}

.esr-headline-sub-alt {
  font-family: 'Roboto', sans-serif;
}

.esr-headline-sub-box {
  flex-basis: 15%;
  text-align: center;
  border: solid #5a5c5c;
  color: #878a8a;
  border-width: 1.5px 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  cursor: pointer;
  min-width: 200px;
}

.esr-headline-sub-box:hover {
  color: #ffb617;
  border-color: #ffb617;
  filter: grayscale(0%);
  animation: tab-fade-in 1s linear;
}

.esr-headline-box-active:hover {
  filter: grayscale(100%);
  animation: tab-fade-out 1s linear;
} */

/* DETAIL COMPONENTS */
.esr-headline-box.detail {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  height: 60px;
}

.esr-headline.detail-id {
  color: #ffb617;
  margin: 0 15px 0 15px;
  font-family: 'Prompt', sans-serif;
  font-size: 28px;
}

.esr-headline.detail-title {
  margin-left: 15px;
  color: #fff;
  font-size: 24px;
}

.esr-detail-background {
  display: flex;
  height: 100%;
  width: 100%;
}

.esr-detail-body {
  border-top: 1px #b4b8b8 solid;
  margin: 0 auto;
  width: 100%;
  display: flex;
}

.esr-detail-crate {
  width: 100%;
  height: 100%;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  padding: 20px;
}

.esr-detail-crate.comment-box {
  border-left: 1px solid #5a5c5c;
}

.esr-detail-box {
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
}

.esr-detail-field {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 20px auto 10px;
  flex-basis: 30%;
}

.esr-detail-field-value {
  color: #b4b8b8;
  font-size: 12px;
  flex-basis: 70%;
}

.esr-detail-attachment-box {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.esr-detail.field-attachment {
  margin-right: 10px;
}

.esr-detail-review-div {
  display: flex;
  margin-top: 40px;
  padding: 20px;
  padding-left: 40px;
}

.esr-detail-form {
  color: #fff;
  background-color: #5a5c5c;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 24px;
}

.esr-detail-form-box {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  width: 80%;
  line-height: 2.0;
  box-sizing: border-box;
}

.esr-detail-form-box.box2 {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  flex-basis: 40%;
}

.esr-detail-form-box.box2 > select {
  min-height: 34px;
}

.esr-detail-text-box {
  background-color: #878a8a;
  color: #fff;
  border: none;
  font-family: 'Roboto' sans-serif;
  width: 100%;
  line-height: 2.0;
}

.esr-detail-text-box::placeholder {
  color: #b8b4b4;
}

.esr-detail-btn-box {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

/* The container */
.esr-detail-form-box.field-approved {
  position: relative;
}

.esr-detail-field.field-approved:hover {
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.esr-detail-form-box.field-approved input {
  position: absolute;
  left: 55%;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  z-index: 100;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 55%;
  height: 32px;
  width: 32px;
  background-color: #5a5c5c;
  border: 1px solid #17c9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: checkbox-grow 200ms linear;
  animation-fill-mode: both;
}

/* On mouse-over, add a grey background color */
.esr-detail-form-box.field-approved:hover input ~ .checkmark {
  background-color: #17c9ff;
  box-shadow: inset 0 0 0 1px #5a5c5c;
}

.esr-detail-form-box.field-approved:hover input:checked ~ .checkmark {
  background-color: #17c9ff;
  box-shadow: inset 0 0 0 1px #5a5c5c;
}

.esr-detail-form-box.field-approved:active input ~ .checkmark {
  animation: checkbox-shrink 200ms linear;
  animation-fill-mode: both;
}

/* When the checkbox is checked, add a blue background */
.esr-detail-form-box.field-approved input:checked ~ .checkmark {
  background-color: #5a5c5c;
  border: 1px solid #17c9ff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  visibility: hidden;
  animation: approve-unchecked 200ms ease-in;
  animation-fill-mode: both;
}

/* Show the checkmark when checked */
.esr-detail-form-box.field-approved input:checked ~ .checkmark:after {
  display: block;
  box-shadow: none;
  animation: approve-checked 200ms ease-in;
  animation-fill-mode: both;
}

.esr-detail-form-box.field-approved input:hover ~ .checkmark:after {
  border-color: #5a5c5c;
}

/* Style the checkmark/indicator */
.esr-detail-form-box.field-approved .checkmark:after {
  margin-top: -4px;
  visibility: visible;
  width: 10px;
  height: 25px;
  border: solid #17c9ff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ANIMATIONS */
@keyframes checkbox-shrink {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes checkbox-grow {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.0);
  }
}

/*                    ^ xxxx ^                */
/* --------------------------------------------- */



/* ---------------------xxxxxx--------------------- */
/* SUBSECTION */

/*                    ^ xxxx ^                */
/* --------------------------------------------- */

