.esr-comment-create {
  width: 100%;
  /* flex-basis: 20%; */
  align-self: center;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.esr-comment-create-form {
  width: 75%;
}

.esr-comment-text-area {
  background-color: #878a8a;
  color: #fff;
  border-radius: 0;
  border: none;
  width: 100%;
  /* width: 300px; */
  height: 50px;
  font-size: 12px;
  opacity: 0.7;
}

.esr-comment-text-area:focus {
  opacity: 1.0;
}

.esr-comment-text-area::placeholder {
  color: #fff;
  font-size: 12px;
}

@keyframes comment-btn-fade-in {
  0% {
    background-color: #2d2e2e;
  }
  100% {
    background-color: #ffb617;
  }
}

@keyframes comment-btn-fade-out {
  0% {
    background-color: #ffb617;
  }
  100% {
    background-color: #2d2e2e;
  }
}
