<div class="CommentCreate container-fluid">

  <form [formGroup]="createCommentForm" (ngSubmit)="createComment()">

    <div class="form-group">

      <textarea
      class="form-control"
      formControlName="content"
      [ngClass]="{'is-invalid': createCommentForm.get('content').errors && createCommentForm.get('content').touched}"
      placeholder="Leave comment...."
      ></textarea>
      <div class="invalid-feedback">The comment cannot be empty.</div>
    </div>

    <div class="container d-flex justify-content-end">
      <button class="btn btn-sm comment-btn" type="submit">Post Comment</button>
    </div>

  </form>
</div>
