<div class="esr-comment-create">
  <form [formGroup]="createCommentForm" (ngSubmit)="createComment()">

    <div class="form-group">
      <textarea
      class="esr-comment-text-area"
      formControlName="content"
      [ngClass]="{'is-invalid': createCommentForm.get('content').errors && createCommentForm.get('content').touched}"
      placeholder="Leave comment...."
      ></textarea>
      <div class="invalid-feedback">The comment cannot be empty.</div>
    </div>

    <button class="esr-comment-btn" type="submit">Post Comment</button>
  </form>
</div>
