<div class="CommentCreate">

  <form [formGroup]="createCommentForm" (ngSubmit)="createComment()">

    <div class="form-group">
      <!-- <label for="content">Content: </label> -->
      <textarea
      class="form-control"
      formControlName="content"
      [ngClass]="{'is-invalid': createCommentForm.get('content').errors && createCommentForm.get('content').touched}"
      placeholder="Leave comment...."
      ></textarea>
      <div class="invalid-feedback">The comment cannot be empty.</div>
    </div>

    <div class="container">
      <button class="btn btn-primary btn-sm m-2" type="submit">Submit Comment</button>
      <!-- <button class="btn btn-danger m-2">Cancel</button> -->
    </div>

  </form>
</div>
