<div class="container-fluid">
  <h1>{{ request.requestID }}</h1>
  <p>Created By: {{ request.createdBy }}</p>
  <p>Created Date: {{ request.createdDate | date }}</p>
  <p>Request Date: {{ request.requestDate }}</p>
  <p>Location: {{ request.location }}</p>
  <p>Description: {{ request.description }}</p>
  <p>Deliverables: {{ request.deliverables }}</p>
  <!-- <button [routerLink]="['/comment-create/', request.requestID]">Add Comment</button> -->
</div>

<div class="container-fluid">
  <app-comment-list [CommentsFromRequest]="request.comments"></app-comment-list>
  <app-comment-create (commentSubmitted)="refreshComponent($event)"></app-comment-create>
</div>

