/* .RequestReview {
} */

.esr-review-header-box {
  width: 100%;
  display: flex;
  border-bottom: 1px #b4b8b8 solid;
  align-items: center;
  margin: 0;
  height: 80px;
}

.esr-review-background {
  display: flex;
  height: 100%;
  width: 100%;
}

.esr-review-body {
  margin: 0 auto;
  width: 100%;
  display: flex;
}

.esr-review-header-id {
  color: #ffb617;
  margin: 0 15px 0 15px;
  font-family: 'Prompt', sans-serif;
}

.esr-review-header-title {
  margin-left: 15px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.esr-review-crate {
  width: 100%;
  height: 100%;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  padding: 20px;
}

.esr-review-box {
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
}

.esr-review-field {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 10px auto 10px;
}

.esr-review-field-value {
  color: #b4b8b8;
  font-size: 12px;
  flex-basis: 70%;
}

.esr-review-attachment-box {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.esr-review.field-attachment {
  margin-right: 10px;
}

.esr-review-div {
  display: flex;
  margin-top: 40px;
  padding: 20px;
  padding-left: 40px;
}

.esr-review-form {
  color: #fff;
  background-color: #5a5c5c;
  width: 100%;
  margin: 0 auto;
}

.esr-review-form-box {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  width: 80%;
  line-height: 2.0;
  box-sizing: border-box;
}

.esr-detail-form-box.box2 {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  flex-basis: 40%;
}

.esr-detail-text-box {
  background-color: #878a8a;
  color: #fff;
  border: none;
  font-family: 'Roboto' sans-serif;
  width: 100%;
  line-height: 2.0;
}

.esr-review-form-box.box2 > select {
  min-height: 34px;
}

/* The container */
.esr-review-form-box.field-approved {
  position: relative;
}

.esr-review-field.field-approved:hover {
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.esr-review-form-box.field-approved input {
  position: absolute;
  left: 55%;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  z-index: 100;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 55%;
  height: 32px;
  width: 32px;
  background-color: #5a5c5c;
  border: 1px solid #17c9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: checkbox-grow 200ms linear;
  animation-fill-mode: both;
}

/* On mouse-over, add a grey background color */
.esr-review-form-box.field-approved:hover input ~ .checkmark {
  background-color: #17c9ff;
  box-shadow: inset 0 0 0 1px #5a5c5c;
}

.esr-review-form-box.field-approved:hover input:checked ~ .checkmark {
  background-color: #17c9ff;
  box-shadow: inset 0 0 0 1px #5a5c5c;
}

.esr-review-form-box.field-approved:active input ~ .checkmark {
  animation: checkbox-shrink 200ms linear;
  animation-fill-mode: both;
}

@keyframes checkbox-shrink {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes checkbox-grow {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.0);
  }
}

/* When the checkbox is checked, add a blue background */
.esr-review-form-box.field-approved input:checked ~ .checkmark {
  background-color: #5a5c5c;
  border: 1px solid #17c9ff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  visibility: hidden;
  animation: approve-unchecked 200ms ease-in;
  animation-fill-mode: both;
}

/* Show the checkmark when checked */
.esr-review-form-box.field-approved input:checked ~ .checkmark:after {
  display: block;
  box-shadow: none;
  animation: approve-checked 200ms ease-in;
  animation-fill-mode: both;
}

.esr-review-form-box.field-approved input:hover ~ .checkmark:after {
  border-color: #5a5c5c;
}

/* Style the checkmark/indicator */
.esr-review-form-box.field-approved .checkmark:after {
  margin-top: -4px;
  visibility: visible;
  width: 10px;
  height: 25px;
  border: solid #17c9ff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.esr-review-btn-box {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

@keyframes approve-checked {
  0% {
    visibility: hidden;
    width: 2px;
    height: 5px;
  }
  20% {
    width: 4px;
    height: 10px;
  }
  40% {
    width: 6px;
    height: 15px;
  }
  60% {
    width: 10px;
    height: 25px;
  }
  80% {
    width: 12px;
    height: 30px;
  }
  100% {
    width: 10px;
    height: 25px;
    visibility: visible;
  }
}

@keyframes approve-unchecked {
  0% {
    visibility: visible;
    width: 10px;
    height: 25px;
  }
  20% {
    width: 12px;
    height: 30px;
  }
  40% {
    width: 10px;
    height: 25px;
  }
  60% {
    width: 6px;
    height: 15px;
  }
  80% {
    width: 4px;
    height: 10px;
  }
  100% {
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
}
