<button class="esr-btn alt" [routerLink]="['/request-detail/', request.requestID]">Go Back</button>

<div class="esr-request-component RequestReview">

  <div class="esr-headline-box detail">

    <h1 class="esr-headline detail-id">{{ request.requestID }}</h1>
    <div class="esr-list-data-divider"></div>
    <h2 class="esr-headline detail-title">{{ request.title }}</h2>

  </div>

  <div class="esr-detail-background">
    <div class="esr-detail-body">

      <div class="esr-detail-crate">

        <div class="esr-detail-box">
          <div class="esr-detail-field">Created By:</div>
          <div class="esr-detail-field-value">{{ request.createdBy }}</div>
        </div>

        <div class="esr-detail-box">
          <div class="esr-detail-field">Created Date:</div>
          <div class="esr-detail-field-value">{{ request.createdDate | date: 'longDate' }}</div>
        </div>

        <div class="esr-detail-box">
          <div class="esr-detail-field">Request Date:</div>
          <div class="esr-detail-field-value">{{ request.requestDate | date: 'longDate' }}</div>
        </div>

        <div class="esr-detail-box">
          <div class="esr-detail-field">AFE:</div>
          <div class="esr-detail-field-value">{{ request.afe }}</div>
        </div>

        <div class="esr-detail-box">
          <div class="esr-detail-field">Location:</div>
          <div class="esr-detail-field-value">{{ request.location }}</div>
        </div>

        <div class="esr-detail-box">
          <div class="esr-detail-field">Description:</div>
          <div class="esr-detail-field-value">{{ request.description }}</div>
        </div>

        <div class="esr-detail-box">
          <div class="esr-detail-field">Deliverables:</div>
          <div class="esr-detail-field-value">{{ request.deliverables }}</div>
        </div>

        <div class="esr-detail-box">
          <div class="esr-detail-field">Status:</div>
          <div class="esr-detail-field-value">{{ request.status }}</div>
        </div>

        <div class="esr-detail-box">
          <div class="esr-detail-field">Engineer:</div>
          <div class="esr-detail-field-value">{{ request.engineerAssigned }}</div>
        </div>

        <div class="esr-detail-box">
          <div class="esr-detail-field">Promise Date:</div>
          <div class="esr-detail-field-value">{{ request.promiseDate }}</div>
        </div>

        <div class="esr-detail-box">
          <div class="esr-detail-field">Expected Cost:</div>
          <div class="esr-detail-field-value">{{ request.expectedCost }}</div>
        </div>

        <div class="esr-detail-box">
          <div class="esr-detail-field">Coupa Date:</div>
          <div class="esr-detail-field-value">{{ request.coupaDate | date: 'longDate' }}</div>
        </div>

        <div class="esr-detail-box">
          <div class="esr-detail-field field-attachment">Attachments:</div>
          <div class="esr-detail-attachment-box">
            <div class="esr-detail-field-value" *ngFor="let file of request.attachments">{{ file.filename }}</div>
          </div>
        </div>

      </div>

      <div class="esr-detail-crate">

        <form [formGroup]="reviewRequestForm" (ngSubmit)="submitRequestReview()" class="esr-detail-form">

          <div class="esr-detail-form-box">

            <div class="esr-detail-field">AFE:</div>

            <div class="esr-detail-form-box box2">

              <input type="text"
              class="esr-detail-text-box"
              formControlName="afe"
              [ngClass]="{'is-invalid': reviewRequestForm.get('afe').errors && reviewRequestForm.get('afe').touched, 'is-valid': reviewRequestForm.get('afe').valid}">

              <div class="invalid-feedback esr-invalid-alert">
                <i class="fas fa-exclamation-circle"></i>
                <p>Please provide the AFE number.</p>
              </div>

              <div class="valid-feedback esr-valid-alert">
                <i class="far fa-check-square"></i>
              </div>
            </div>
          </div>

          <div class="esr-detail-form-box">
            <div class="esr-detail-field">Assigned Engineer:</div>
            <div class="esr-detail-form-box box2">
              <select
              formControlName="engineerAssigned"
              class="esr-detail-text-box"
              [ngClass]="{'is-invalid': reviewRequestForm.get('engineerAssigned').errors && reviewRequestForm.get('engineerAssigned').touched, 'is-valid': reviewRequestForm.get('engineerAssigned').valid}">
              <option *ngFor="let member of groupMembers" value="{{ member.username }}">{{ member.fullName }}</option>
              </select>

              <div class="invalid-feedback esr-invalid-alert">
                <i class="fas fa-exclamation-circle"></i>
                <p>Please assign an engineer.</p>
              </div>

              <div class="valid-feedback esr-valid-alert">
                <i class="far fa-check-square"></i>
              </div>
            </div>
          </div>

          <div class="esr-detail-form-box">
            <div class="esr-detail-field">Coupa Approved Date:</div>
              <div class="esr-detail-form-box box2">
                <input type="text"
                autocomplete="off"
                formControlName="coupaDate"
                class="esr-detail-text-box"
                bsDatepicker
                [ngClass]="{'is-invalid': reviewRequestForm.get('coupaDate').errors && reviewRequestForm.get('coupaDate').touched, 'is-valid': reviewRequestForm.get('coupaDate').valid}"
                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-default', adaptivePosition: true, isAnimated: false }">
                <div class="invalid-feedback esr-invalid-alert">
                  <i class="fas fa-exclamation-circle"></i>
                  <p>Date is invalid.</p>
                </div>

                <div class="valid-feedback esr-valid-alert">
                  <i class="far fa-check-square"></i>
                </div>
              </div>
          </div>

          <div class="esr-detail-form-box field-approved">
            <label class="esr-detail-field field-approved">Approved:
              <input type="checkbox" formControlName="approved">
              <span class="checkmark"></span>
            </label>
          </div>

          <div class="esr-detail-btn-box">
            <button class="esr-btn" type="submit">Submit</button>
          </div>

        </form>

      </div>

    </div>

  </div>

  </div>



