<div class="esr-request-component RequestsOverview">

  <div class="esr-headline-box">
    <h1 class="esr-headline">For You</h1>
  </div>

  <div class="esr-overview-body">

    <div class="esr-overview-showcase">
      <div class="esr-overview-showcase-box">
        <p class="esr-overview-greet">Hello Michael Linden, you have </p>
        <div class="esr-overview-greet-count-box">
          <span class="esr-overview-greet-count">{{ numberOfNewRequests }}</span>
        </div>
          <p class="esr-overview-greet">new requests.</p>
      </div>
        <app-divider></app-divider>
    </div>

    <div class="esr-overview-sideshow">
      <div class="esr-overview-links-box">
        <button class="esr-btn" (click)="navToCreate($event)">Create New Request</button>
        <!-- <a class="esr-overview-link highlight-link" href="" (click)="navToCreate($event)">Create New Request</a> -->
        <a class="esr-overview-link" href="">Help</a>
      </div>
    </div>

  </div>


</div>
