<div class="RequestCreate">
  <button class="btn btn-primary" [routerLink]="['request-list']">Go Back</button>
  <h3>Create New Request</h3>

  <form [formGroup]="createRequestForm" (ngSubmit)="createRequest()">

    <div class="form-group">
      <label for="requestDate">Request Date:</label>
      <input type="text"
      autocomplete="off"
      formControlName="requestDate"
      class="form-control"
      bsDatepicker
      [ngClass]="{'is-invalid': createRequestForm.get('requestDate').errors && createRequestForm.get('requestDate').touched}"
      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-default', adaptivePosition: true, isAnimated: false }">
      <div class="invalid-feedback">Date is invalid.</div>
    </div>

    <div class="form-group">
      <label for="location">Location:</label>
      <select
      class="form-control"
      formControlName="location"
      [ngClass]="{'is-invalid': createRequestForm.get('location').errors && createRequestForm.get('location').touched}">
        <option *ngFor="let location of locations" value="{{ location.name }}">{{ location.name }}</option>
      </select>
      <div class="invalid-feedback">Please choose a location for the request.</div>
    </div>

    <div class="form-group">
      <label for="description">Description: </label>
      <textarea
      class="form-control"
      formControlName="description"
      placeholder="Enter Description..."
      [ngClass]="{'is-invalid': createRequestForm.get('description').errors && createRequestForm.get('description').touched}"
      >
      </textarea>
      <div class="invalid-feedback">Please enter a description for the request.</div>
    </div>

    <div class="form-group">
      <label for="deliverables">Deliverables: </label>
      <textarea
      class="form-control"
      formControlName="deliverables"
      placeholder="Enter Deliverables..."
      [ngClass]="{'is-invalid': createRequestForm.get('deliverables').errors && createRequestForm.get('deliverables').touched}"
      >
      </textarea>
      <div class="invalid-feedback">Please enter the deliverables needed for the request.</div>
    </div>

    <div class="form-group">
      <label for="attachments">Attachments:</label>
      <input type="file" multiple="true" class="form-control" formControlName="attachments"(change)="handleInputFile($event.target.files)"
      [ngClass]="{'is-invalid': createRequestForm.get('attachments').errors && createRequestForm.get('attachments').touched}">
      <div class="invalid-feedback">Please include attachments with your request.</div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>

  </form>
</div>
