.Modal-Backsplash {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.Modal-Body {
  height: 200px;
  width: 300px;
  background-color: white;
  /* position: relative; */
  margin: 0 auto;
  z-index: 501;
  opacity: 1.0;
}
