<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucid | ESR</title>
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
</head>
<body style="height: 100%;
width: 100%;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
padding: 100px;
margin: 0;
background-color: #b4b8b8;">

<div class="box" style="height: 600px;
width: 800px;
background-color: #2d2e2e;
text-align: center;
font-family: 'Roboto', sans-serif;
color: #fff; padding: 20px;">

    <h1 class="greet" style="margin-top: 40px;">A New ESR has been submitted.</h1>
    <p class="greet" style="margin-top: 20px;">ESR {0} has been submitted and is ready for review. Click <a href="http://leg-adhocsql:8001" style="color: #ffb617;">Here</a> to visit the ESR application.</p>
</div>
    
</body>
</html>