<div matSort class="RequestList card" (matSortChange)="sortData($event)">
  <h1 class="card-header">Active Requests</h1>

  <div class="container m-2 d-flex flex-column">
    <div class="container d-flex justify-content-between mb-2">
      <button *ngIf="requestsCount > 0" class="esr-button btn-toggle-filter" (click)="toggleFilterMode()"><i class="fas fa-filter mr-2"></i>Filters</button>
      <!-- <button class="btn btn-sm btn-dark">Show All</button> -->

    </div>
    <div class="container-fluid d-flex justify-content-end p-0">
      <div class="form-check">
        <input class="form-check-input" (change)="toggleShowAll()" type="checkbox" value="" id="showAllToggle">
        <label class="form-check-label" for="showAllToggle">
          Show All Requests
        </label>
      </div>
    </div>


    <form id="filterForm" *ngIf="filterMode" [formGroup]="filterRequestsForm" (ngSubmit)="filterRequests()">
      <div class="d-inline-flex align-items-baseline m-3">

        <label for="field">Field: </label>
        <div class="form-group m-2">

          <select
          (change)="checkFilterInputType()"
          formControlName="field"
          class="form-control">
            <option *ngFor="let field of fieldsForFilter" value="{{ field.value }}">{{ field.display }}</option>
          </select>
        </div>

        <label for="fieldValue">Value: </label>
        <div  class="form-group m-2">

          <input *ngIf="!toggleFilterInputType" type="text"
          class="form-control"
          placeholder="Enter filter value..."
          formControlName="fieldValue">

          <select
          *ngIf="filterRequestsForm.value.field == 'location'"
          formControlName="fieldValue"
          class="form-control">
            <option *ngFor="let location of locations" value="{{ location.name }}">{{ location.name }}</option>
          </select>

          <select
          *ngIf="filterRequestsForm.value.field == 'engineerAssigned'"
          formControlName="fieldValue"
          class="form-control">
            <option *ngFor="let member of groupMembers" value="{{ member.username }}">{{ member.fullName }}</option>
          </select>
        </div>
      </div>

      <div class="container d-inline-flex">
        <button type="submit" class="esr-button esr-button-sm esr-button-success mr-2">Apply</button>
        <button class="esr-button esr-button-sm esr-button-danger mr-2" (click)="clearFilter($event)">Clear</button>
      </div>

    </form>
  </div>

  <table *ngIf="requestsCount > 0" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">View</th>
        <th mat-sort-header="requestID" scope="col">Request ID</th>
        <th mat-sort-header="createdBy" scope="col">Requested By</th>
        <th mat-sort-header="requestDate" scope="col">Requested Due Date</th>
        <th mat-sort-header="afe" scope="col">AFE</th>
        <th mat-sort-header="engineerAssigned" scope="col">Engineer</th>
        <th mat-sort-header="promiseDate" scope="col">Promise Date</th>
        <th mat-sort-header="expectedCost" scope="col">Exp. Cost</th>
        <th mat-sort-header="coupaDate" scope="col">Coupa Date</th>
        <!-- <th mat-sort-header="location" scope="col">Location</th> -->
        <th mat-sort-header="status" scope="col">Status</th>
        <th mat-sort-header="approved" scope="col">Approved</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of sortedData" class="{{ request.requestDate | requestDeadline }}">
        <td><a [routerLink]="['/request-detail/', request.requestID]"><i class="fas fa-eye"></i></a></td>
        <!-- <td><button class="view-btn btn btn-sm btn-dark" [routerLink]="['/request-detail/', request.requestID]"><i class="fas fa-eye"></i></button></td> -->
        <td><i *ngIf="!request.acknowledged" class="fas fa-exclamation-triangle mr-2"></i>{{ request.requestID }}</td>
        <td>{{ request.createdBy }}</td>
        <td>{{ request.requestDate | date }}</td>
        <td>{{ request.afe }}</td>
        <td>{{ request.engineerAssigned }}</td>
        <td>{{ request.promiseDate | date }}</td>
        <td>{{ request.expectedCost | currency }}</td>
        <td>{{ request.coupaDate | date }}</td>
        <!-- <td>{{ request.location }}</td> -->
        <td>{{ request.status }}</td>
        <td>{{ request.approved }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="requestsCount == 0" class="container-fluid d-flex justify-content-center align-items-center m-5 flex-column">
    <i class="fas fa-exclamation-circle fa-5x"></i>
    <h1>There aren't any requests, yet.</h1>
  </div>
</div>

