.RequestList {
  border: 1px solid black;
}

.request-on-home {
  border: 1px solid black;
  margin: 2px;
}

.deadline-danger {
  background-color: rgba(255, 0, 0, 0.3) !important;
}
/*
.deadline-success {
  background-color: rgba(26, 206, 26, 0.5) !important;
} */

.deadline-warning {
  background-color: rgba(255, 255, 0, 0.3) !important;
}

.deadline-danger:hover {
  background-color: rgba(255, 0, 0, 0.4) !important;
}

.deadline-warning:hover {
  background-color: rgba(255, 255, 0, 0.4) !important;
}
